:root {
  --primary_color: #f87800;
  --secondary_color: #001986;
  --text-blackcolor: #000;
  --text-graycolor: #919191;
  --text-whitecolor: #fff;

  --font_size_heading: 30px;
  --font_size_subheading: 20px;
  --font_size_other: 16px;

  --border-radius: 16px;
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  box-sizing: border-box;
  color: white;
  border: white;
  font-weight: 100;
}

.index-body {
  position: relative;
  background-color: #cecece;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url('/img/pic.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.header
{
  width: 50vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.block-main
{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.main-holder
{
  width: 49%;
  background-color: rgb(255 255 255 / 15%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: var(--border-radius);
}

.song-block
{
  padding: 20px;
  width: 49%;
  background-color: rgb(255 255 255 / 15%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: var(--border-radius);
}

.song-img-blocks
{
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-div
{
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  border-radius: 100px;
  outline: 4px dashed white;
  outline-offset: 20px;
  animation: rotate 10s linear infinite;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.img-div-play
{
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  border-radius: 100px;
  outline: 4px dashed white;
  outline-offset: 20px;
  animation: rotate 10s linear infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.song-img-block
{
  text-align: center;
  position: relative;
}

.overlay
{
  width: 150px;
  height: 150px;
  background-color: rgb(0 0 0 / 30%);
  z-index: 1;
  position: absolute;
  border-radius: 100px;
}

.songimg
{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  animation: rotate 10s linear infinite;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  outline: 4px dashed white;
  outline-offset: 10px;
  background-image: url("/img/pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.songimg-rotate
{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  animation: rotate 10s linear infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
  outline: 4px dashed white;
  outline-offset: 10px;
  background-image: url("/img/pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.song-name {
  margin-top: 50px;
  text-align: center;
}

.song-name p{
  font-size: 14px;
  margin-top: 6px;
}

/* .hp_slide{
  width:100%;
  background:white;
  height:25px;
}
.hp_range{
  width:0;
  background:black;
  height:25px;
} */

.controls_block
{
  margin-top: 50px;
}

.d-flex
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon
{
  font-size: 26px;
  color: white;
}

.icon-play
{
  font-size: 46px;
  color: white;
}

.play-btn-block
{
  margin: 0 20px;
}

.color-btn
{
  margin: 0 20px;
}

.btns-add {
  display: flex;
  justify-content:center;
  margin-top: 20px;
}

.setting-btn
{
  margin-left: 20px;
}

.icon:hover, .icon-play:hover
{
  color: gray;
  cursor: pointer;
}


.bg-btn 
{
  position: relative;
}

.bg-btn :hover i
{
  color: gray;
}

.bg-btn input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 24px;
  height: 24px;
}

.bg-btn input[type=file]:hover i {
  color: gray;
}























/*Animation block css*/

@keyframes rotate { 

  /* 0% { 
    -webkit-transform: rotate(0deg); 
    transform:rotate(0deg); 
}  */
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}








audio#songcur {
  width: 100%;
}
